@{
    ViewBag.Title = "Index";
}

<h2>Deferred Demos</h2>

<ul>
    <li>
        @Html.ActionLink("Consuming a Deferred", "consuming")
    </li>
    
    <li>
        @Html.ActionLink("Creating and controlling a jQuery Deferred", "Order")
    </li>
    
    <li>
        @Html.ActionLink("Wrapping a Deferred", "Wrapping")
    </li>
    
    <li>
        @Html.ActionLink("Grouping with $.when", "When")
    </li>
</ul>
